@import "./icons.scss";

body {
    background-color: #141414;
}

.movie-card {
    width: 250px;
    transition: all 0.3s ease;
    transform: scale(1.0);
    position: relative;
    z-index: 100;

    .movie-card-img {
        position: relative;
        z-index: 15;

    }

    .body-title {}

    .movie-card-body {
        opacity: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s 0.05 ease;
        padding: 10px !important;

        .fs-12 {
            font-size: 12px;
        }
    }

    &.active {
        transform: scale(1.4) translateY(-50px);
        z-index: 1000;
        font-size: 10.5px;

        .movie-card-body {
            opacity: 1;
            z-index: 10;
            bottom: -94px;
            width: 100%;

        }

    }
}


.carousel {

    .carousel-control-next,
    .carousel-control-prev {
        width: auto;
        opacity: 0;

        background-color: rgba($color: #000000, $alpha: 0.3);
        box-shadow: -10px 0 20px 0px rgba($color: #000000, $alpha: 0.5);


        &:hover {
            opacity: 1;
        }
    }

    &:hover {

        .carousel-control-prev,
        .carousel-control-next {}
    }
}

.carousel-inner {
    overflow: visible !important;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 9999;
}